- episode = params.episode
- season_specifier = episode.season
- season = season(season_specifier)
- season_episodes = season_episodes(season)

= partial("header")

.wrap
  .grid
    .grid__cell class="grid__cell--20"
      section class="section section--left"
        h2.section__title Season episodes
        ul.nav
          = Enum.map season_episodes, fn episode ->
            li.nav__item
              a href="/episodes/episode-#{episode.id}-#{1}"
                = episode.title
                .nav__item__details
                  Episode #{episode.episode_number}

    .grid__cell class="grid__cell--80"
      section.section
        .character
          .character__image
            = if episode[:image_url] do
              img src=episode.image_url
          h1.character__title = episode.title
          ul.meta
            li.meta__item
              strong Season:
              / {{ .Params.category }}
            li.meta__item
              strong Episode number:
              = episode.episode_number
            = if episode[:director] do
              li.meta__item
                strong Director:
                = episode.director
            li.meta__item
              strong First aired:
              / {{ .Date | dateFormat "2006-01-02" }}
            li.meta__item
              strong Rating:
              = if params[:rating] do
                = episode.rating
          .character__content
            = episode.description

= partial("footer")
