meta content="IE=edge" http-equiv="X-UA-Compatible"
meta charset="utf-8"
meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600|Special+Elite" rel="stylesheet"
link href="https://datocms-middleman-example.netlify.com/stylesheets/site.css" rel="stylesheet"
title Dundler Mifflin
