header.main-navigation
  a.main-navigation__item href="/" Home
  a.main-navigation__item href="/character/" Characters
  a.main-navigation__item href="/season/" Seasons
  a.main-navigation__item href="/episode/" Episodes

.header
  .wrap
    /{{ if eq $.URL "/" }}
      <div class="header__inner header__inner--internal">
    /{{ else }}
      <div class="header__inner">
    /{{ end }}
      .header__content
        h1.header__title
          /{{ .Site.Data.home.sitename }}
        p.header__tagline
        / {{ .Site.Data.home.tagline }}
